@using GoogleMaps.Models
@{
    Layout = null;
}

@model GoogleMaps.Models.ShortFilterJobAccauntingModel

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/Utils")
@Scripts.Render("~/bundles/WeatherLib")
@Styles.Render("~/Content/css")

<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/GoogleMap/InitializeGoogleMapAPI.js"></script>
<script src="~/Scripts/GoogleMap/GoogleActions.js"></script>
<script src="~/Scripts/GoogleMap/MarkerManager.js"></script>
<script src="~/Scripts/Statistics/Statistics.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6RXBQJirPU3UyvggVbl82r1KKvzxCng4&libraries=drawing,weather&callback=InitializeGoogleMapAPI.Init"
        async defer></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
@section Styles {
    html { height: 100% }
    body { height: 100%; margin: 0px; padding: 0px }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h3 style="margin-top:2px">Агроном. Карты полей</h3>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#fillFieldModal" id="btnAdd">
                Добавить поле
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#chartModel">
                Проанализировать
            </button>
            @Html.DropDownList("Cultures", (List<SelectListItem>)ViewBag.Cultures, new { multiple = "multiple" })
        </div>
        <div class="col-lg-2"></div>

        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите название поля или местоположение">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Найти</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 dashboard-info">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @*<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFields">
                                Поля
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>*@
                            Поля
                        </h4>
                    </div>
                    <div id="collapseFields" class="panel-collapse collapse in">
                        <div class="panel-body fieldsList">
                            <!--Mask-->
                            <div id="fountainG" style="display:none">
                                <div id="fountainG_1" class="fountainG"></div>
                                <div id="fountainG_2" class="fountainG"></div>
                                <div id="fountainG_3" class="fountainG"></div>
                                <div id="fountainG_4" class="fountainG"></div>
                                <div id="fountainG_5" class="fountainG"></div>
                                <div id="fountainG_6" class="fountainG"></div>
                                <div id="fountainG_7" class="fountainG"></div>
                                <div id="fountainG_8" class="fountainG"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 dashboard-info">
            <div id="windowInfo" class="info">
            </div>
            <div id="map_canvas" class="map_canvas"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 text-left ">
            <div class="search-form" style="display:none">
                <select id="id_region" name="id_region" class="filter_select">
                    <option>Выберите область</option>
                    <option rel="2600000000" value="1">Івано-франківська</option>
                    <option rel="100000000" value="2">Авт.республіка крим</option>
                    <option rel="500000000" value="3">Вінницька</option>
                    <option rel="700000000" value="4">Волинська</option>
                    <option rel="1200000000" value="5">Дніпропетровська</option>
                    <option rel="1400000000" value="6">Донецька</option>
                    <option rel="1800000000" value="7">Житомирська</option>
                    <option rel="2100000000" value="8">Закарпатська</option>
                    <option rel="2300000000" value="9">Запорізька</option>
                    <option rel="3500000000" value="10">Кіровоградська</option>
                    <option rel="8000000000" value="26">Київ</option>
                    <option rel="3200000000" value="11">Київська</option>
                    <option rel="4400000000" value="12">Луганська</option>
                    <option rel="4600000000" value="13">Львівська</option>
                    <option rel="4800000000" value="14">Миколаївська</option>
                    <option rel="5100000000" value="15">Одеська</option>
                    <option rel="5300000000" value="16">Полтавська</option>
                    <option rel="5600000000" value="17">Рівненська</option>
                    <option rel="8500000000" value="27">Севастополь</option>
                    <option rel="5900000000" value="18">Сумська</option>
                    <option rel="6100000000" value="21">Тернопільська</option>
                    <option rel="6300000000" value="19">Харківська</option>
                    <option rel="6500000000" value="20">Херсонська</option>
                    <option rel="6800000000" value="22">Хмельницька</option>
                    <option rel="7100000000" value="23">Черкаська</option>
                    <option rel="7300000000" value="24">Чернівецька</option>
                    <option rel="7400000000" value="25">Чернігівська</option>
                </select>
                <select disabled="true" id="id_district" namd="id_district" class="filter_select">
                    <option>Выберите район</option>
                </select>
                <select disabled="true" id="id_city" namd="id_city" class="filter_select">
                    <option>Выберите город</option>
                </select>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<!--Model for select field-->>
<div class="modal fade" id="selectFieldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg select-field" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Выбор поля</h4>
            </div>
            <div class="modal-body">
                <div class="input-group search">
                    <input type="text" class="form-control" id="map_search" name="map_search" rel="cad_num_mask" placeholder="Введите кадастровый номер. Например: 3221655100:01:047:0052">
                    <input type="hidden" name="get_serach_cadnum" value="" id="get_serach_cadnum">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="map_search_btn">Найти</button>
                    </span>
                </div>
                <div class="map">
                    <div class="map-wrap olMap" id="map">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="saveMap">Сохранить</button>
            </div>
        </div>
    </div>
</div>


<!--Model for  add new fields-->
<div class="modal fade" id="fillFieldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление поля</h4>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("~/Views/GoogleMap/FieldInfo.cshtml");}
            </div>
        </div>
    </div>
</div>

<!--Model for full screen information about field-->
<div class="modal fade" id="fullScreenInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="fullScreenInfoBody">
                <div class="filter">
                    <div id="jobTableBody">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Model for full screen information about field-->
<div class="modal fade" id="chartModel" tabindex="-1" role="dialog" aria-labelledby="chartModelLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Статистика</h4>
            </div>
            <div class="modal-body" id="chart">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="sidebar-nav">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation" class="active">
                                    <a data-toggle="tab" href="#home">Засееность культур</a>
                                </li>
                                <li role="presentation">
                                    <a data-toggle="tab" href="#menu1">Площади полей</a>
                                </li>
                                <li role="presentation">
                                    <a data-toggle="tab" href="#menu2">График работ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <label>Год посева: </label>
                                <select id="yearChart" class="dropdown" style="width:100px">
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016" selected>2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                </select>
                                <div id="piechart_3d"></div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div id="barchart_values" style="width: auto; height: 400px;"></div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                @Html.Action("GetJobAccauntingFilter")
                                <div id="calendar_basic" style="width: auto; height: auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/cadastre_ua")
<script type="text/javascript">
    $(document).ready(function () {
        GoogleActions.Init('@Url.Action("Index", "GoogleMap")')
        Statistics.Init();
    });
</script>

<script type="text/x-jquery-tmpl" id="targetListFields">
    {{each fields}}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                ${FieldTitle}
                <a id="deleteLocationField" href="#" class="field-buttons-actions">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <a id="editLocationField" href="#" class="field-buttons-actions">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </h3>
        </div>
        <div class="panel-body field-item">
            <input type="hidden" value="${Id}" />
        </div>
    </div>
    {{/each}}
</script>