@model IEnumerable<GoogleMaps.Models.JobAccountingModel>


<div class="form-partial">
    @using (Ajax.BeginForm("GetJobAccaunting", new AjaxOptions { OnSuccess = "GoogleActions.OnSuccessLoadFromFilter" }))
    {
        <input type="hidden" name="FieldId" class="FieldId" />
        <fieldset class="filter-option">
            <label for="StartDate">Начальная дата</label>
            <input type="date" name="StartDate" id="StartDate" value="2015-12-01"/>
        </fieldset>
        <fieldset class="filter-option">
            <label for="EndDate">Конечная дата</label>
            <input type="date" name="EndDate" id="EndDate" value="2016-12-01"/>
        </fieldset>
        <div class="filter-submit">
            <input type="submit" id="filterGo" value="Применить" />
        </div>
    }
</div>

@if (Model.Count() != 0)
{
    <table class="table table-bordered table-condensed table-hover" style="font-size:13px">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(i => i.Date)</th>
                <th>@Html.DisplayNameFor(i => i.Quantity)</th>
                <th>@Html.DisplayNameFor(i => i.Square)</th>
                <th>@Html.DisplayNameFor(i => i.WorkKind)</th>
                <th>@Html.DisplayNameFor(i => i.WorkType)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td class="number">@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td class="number">@Html.DisplayFor(modelItem => item.Square)</td>
                    <td>@Html.DisplayFor(modelItem => item.WorkKind)</td>
                    <td>@Html.DisplayFor(modelItem => item.WorkType)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Данных нет</h3>
}